body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

.bgcolor {
    /* background-color: aquamarine; */
    background-image: linear-gradient(229deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%, rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%), linear-gradient(239deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%, rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%), linear-gradient(141deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%, rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%), linear-gradient(287deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%, rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%), linear-gradient(90deg, rgb(53, 166, 233), rgb(17, 240, 126));
}

.container {
    width: 100%;

}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}